.headerContainer{
  justify-content: center;
  align-items: center;
  display: flex;
  font-size: 20px;
  height: 60px;
  margin-top: 0;
  z-index: 1000;
  border-bottom: solid 1px black;
  font-weight: bold;
}

.formContainer{
  justify-content: center;
  display: flex;
  margin-top: 50px;
  margin-bottom:50px;
}
.projectForm{
  max-width: 90%;
  width: 400px;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  border: solid 1px black;
  padding: 10px 15px;
  border-radius: 5px;
}
.projectForm input{
  height: 25px;
}

.projectForm button{
  border: solid 1px black;
  color: black;
  border-radius: 5px;
  width: fit-content;
  height: 20px;
  background-color: white;
}
.projectForm button:hover{
  opacity: 0.7;
}
.section{
  display: flex;
  justify-content: center;
}
.searchBarAndProjectCardsContainer{
  border: solid 1px black;
  max-width: 90%;
  width: 400px;
  border-radius: 5px;
  background-color: rgb(240, 240, 240);
  box-sizing: border-box;
}

.searchContainer{
  max-width: 90%;
  width: 100%;
  padding: 10px 15px;
  box-sizing: border-box;
}
.searchContainer input{
  height: 25px;
  margin: 8px;
  width:100%;
  max-width: 90%;
}
.input{
  width: 100%;
  margin-bottom: 10px;
  border-radius: 5px;
  border: solid 1px black;
  background-color: white;
}
.input:hover{
  opacity: 0.7;
}
.input:focus{
  opacity: 0.4;
}

.projectCardsContainer{
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: white;
  padding: 10px 10px;
  border-top: solid 1px black;
  
}

.projectCard{
  border: solid 1px black;
  padding: 10px 15px;
  width: 100%;
  border-radius: 5px;
  background-color: white;
  box-sizing: border-box;
}
.projectCard:hover{
  opacity: 0.5;
}
